<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Create Feeder</strong></div>
                    <div class="block-body">
                        <form class="form-horizontal" name="createvillage" [formGroup]='createFeederForm'>                            
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">District</label>
                                <div class="col-sm-9">
                                  <select name="district" formControlName='district' [(ngModel)]='feeder.districtId' class="form-control mb-3 mb-3" (change)='getTalukasByDistrictId($event)'>
                                    <option *ngFor="let d of districts" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.district.errors">
                                    <div *ngIf="formControls.district.errors.pattern">
                                        Select district
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Taluka</label>
                                <div class="col-sm-9">
                                  <select name="taluka" formControlName='taluka' [(ngModel)]='feeder.talukaId' class="form-control mb-3 mb-3" (change)='getVillagesByTalukaId($event)'>
                                    <option *ngFor="let d of talukas" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.taluka.errors">
                                    <div *ngIf="formControls.taluka.errors.pattern" class="validation-error-message">
                                        Select taluka
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Village/Area</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='village' [(ngModel)]='feeder.villageId' class="form-control mb-3 mb-3" (change)='getStationsByVillageId($event)'>
                                    <option *ngFor="let d of villages" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.village.errors">
                                    <div *ngIf="formControls.village.errors.pattern" class="validation-error-message">
                                        Select village
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Station</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='station' [(ngModel)]='feeder.stationId' class="form-control mb-3 mb-3" (change)='getSectionsByStationId($event)'>
                                    <option *ngFor="let d of stations" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.station.errors">
                                    <div *ngIf="formControls.station.errors.pattern" class="validation-error-message">
                                        Select station
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Section</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='section' [(ngModel)]='feeder.sectionId' class="form-control mb-3 mb-3">
                                    <option *ngFor="let d of sections" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.section.errors">
                                    <div *ngIf="formControls.section.errors.pattern" class="validation-error-message">
                                        Select section
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Feeder name</label>
                                <div class="col-sm-9" >
                                  <input type="text" class="form-control" formControlName='feederName' name="feedername" [(ngModel)]='feeder.name'>
                                  <div *ngIf="isSubmitted && formControls.feederName.errors">
                                    <div *ngIf="formControls.feederName.errors.required" class="validation-error-message">
                                        Enter feeder name
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 ml-auto">
                                  <button type="button" class="btn btn-secondary" (click)='clearForm()'>Reset</button>
                                  <button type="button" class="btn btn-primary" (click)='createFeeder()'>Create Feeder</button>
                                </div>
                              </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
