<section class="no-padding-top">
    <div class="container-fluid" *ngIf="formState$ | async as formState">
        <div class="row">
            <ngx-spinner size = "medium" [fullScreen]="false" type="timer" ></ngx-spinner>
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Create Village/Area</strong></div>                    
                    <div class="block-body">
                            <form class="form-horizontal" name="createvillage" [ngrxFormState]="formState">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">District</label>
                                <div class="col-sm-9">
                                <select name="district" [ngrxFormControlState]="formState.controls.districtId" class="form-control mb-3 mb-3" 
                                (change)='getTalukasByDistrictId($event)'>
                                    <option *ngFor="let d of ((appRoot$ | async).districts)" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="formState.controls.districtId.isDirty && formState.controls.districtId.errors['greaterThan']">
                                    <div *ngIf="formState.controls.districtId.errors['greaterThan']">
                                        Select district
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Taluka</label>
                                <div class="col-sm-9">
                                <select name="taluka" class="form-control mb-3 mb-3" [ngrxFormControlState]="formState.controls.talukaId">
                                    <option *ngFor="let d of (talukas$ | async) | customKeyValue; trackBy: trackByItem" value="{{d.key}}">{{d.value}}</option>
                                  </select>
                                  <div *ngIf="formState.controls.talukaId.isDirty && formState.controls.talukaId.errors['greaterThan']">
                                    <div *ngIf="formState.controls.talukaId.errors['greaterThan']" class="validation-error-message">
                                        Select taluka
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Village/Area name</label>
                                <div class="col-sm-9" >
                                  <input type="text" class="form-control" [ngrxFormControlState]="formState.controls.villageName">
                                  <div *ngIf="formState.controls.villageName.isDirty && formState.controls.villageName.errors['required']">
                                    <div *ngIf="formState.controls.villageName.errors['required']" class="validation-error-message">
                                        Enter village name
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 ml-auto">
                                  <button type="button" class="btn btn-secondary" (click)='clearForm()'>Reset</button>
                                  <button type="button" class="btn btn-primary" (click)='createVillage()' [disabled]="formState.isInvalid" >Create Village</button>
                                </div>
                              </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
