<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <ngx-spinner size = "medium" [fullScreen]="false" type="timer" ></ngx-spinner>
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Create Village/Area</strong></div>                    
                    <div class="block-body">
                        <form class="form-horizontal" name="createvillage" [formGroup]='createVillageForm'>                            
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">District</label>
                                <div class="col-sm-9">
                                  <select name="district" formControlName='district' [(ngModel)]='village.districtId' class="form-control mb-3 mb-3" (change)='getTalukasByDistrictId($event)'>
                                    <option *ngFor="let d of districts" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.district.errors">
                                    <div *ngIf="formControls.district.errors.pattern">
                                        Select district
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Taluka</label>
                                <div class="col-sm-9">
                                  <select name="taluka" formControlName='taluka' [(ngModel)]='village.talukaId' class="form-control mb-3 mb-3">
                                    <option *ngFor="let d of talukas$ | async" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.taluka.errors">
                                    <div *ngIf="formControls.taluka.errors.pattern" class="validation-error-message">
                                        Select taluka
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Village/Area name</label>
                                <div class="col-sm-9" >
                                  <input type="text" class="form-control" formControlName='villageName' name="villagename" [(ngModel)]='village.name'>
                                  <div *ngIf="isSubmitted && formControls.villageName.errors">
                                    <div *ngIf="formControls.villageName.errors.required" class="validation-error-message">
                                        Enter village name
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 ml-auto">
                                  <button type="button" class="btn btn-secondary" (click)='clearForm()'>Reset</button>
                                  <button type="button" class="btn btn-primary" (click)='createVillage()'>Create Village</button>
                                </div>
                              </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
