<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <ngx-spinner size = "large" [fullScreen]="false" type="timer" ></ngx-spinner>
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Create Transformer</strong></div>
                    <div class="block-body">
                        <form class="form-horizontal" name="createvillage" [formGroup]='createTransformerForm'>                            
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">District</label>
                                <div class="col-sm-9">
                                  <select name="district" formControlName='district' [(ngModel)]='transformer.districtId' class="form-control mb-3 mb-3" (change)='getTalukasByDistrictId($event)'>
                                    <option *ngFor="let d of districts" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.district.errors">
                                    <div *ngIf="formControls.district.errors.pattern" class="text-danger">
                                        Select district
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Taluka</label>
                                <div class="col-sm-9">
                                  <select name="taluka" formControlName='taluka' [(ngModel)]='transformer.talukaId' class="form-control mb-3 mb-3" (change)='getVillagesByTalukaId($event)'>
                                    <option *ngFor="let d of talukas" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.taluka.errors">
                                    <div *ngIf="formControls.taluka.errors.pattern" class="validation-error-message">
                                        Select taluka
                                    </div>
                                </div>
                                </div>                                
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Village/Area</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='village' [(ngModel)]='transformer.villageId' class="form-control mb-3 mb-3" (change)='getStationsByVillageId($event)'>
                                    <option *ngFor="let d of villages" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.village.errors">
                                    <div *ngIf="formControls.village.errors.pattern" class="validation-error-message">
                                        Select village
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Station</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='station' [(ngModel)]='transformer.stationId' class="form-control mb-3 mb-3" (change)='getSectionsByStationId($event)'>
                                    <option *ngFor="let d of stations" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.station.errors">
                                    <div *ngIf="formControls.station.errors.pattern" class="validation-error-message">
                                        Select station
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Section</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='section' [(ngModel)]='transformer.sectionId' class="form-control mb-3 mb-3" (change)='getFeedersBySectionId($event)'>
                                    <option *ngFor="let d of sections" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.section.errors">
                                    <div *ngIf="formControls.section.errors.pattern" class="validation-error-message">
                                        Select section
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Feeder</label>
                                <div class="col-sm-9">
                                  <select name="account" formControlName='feeder' [(ngModel)]='transformer.feederId' class="form-control mb-3 mb-3">
                                    <option *ngFor="let d of feeders" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="isSubmitted && formControls.feeder.errors">
                                    <div *ngIf="formControls.feeder.errors.pattern" class="validation-error-message">
                                        Select feeder
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Transformer name</label>
                                <div class="col-sm-9" >
                                  <input type="text" class="form-control" formControlName='transformerName' name="transformername" [(ngModel)]='transformer.name'>
                                  <div *ngIf="isSubmitted && formControls.transformerName.errors">
                                    <div *ngIf="formControls.transformerName.errors.required" class="validation-error-message">
                                        Enter transformer name
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 ml-auto">
                                  <button type="button" class="btn btn-secondary" (clcik)='clerForm()'>Reset</button>
                                  <button type="button" class="btn btn-primary" (click)='createTransformer()'>Create Transformer</button>
                                </div>
                              </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
