<section class="no-padding-top">
    <div class="container-fluid" *ngIf="formState$ | async as formState">
        <div class="row">
          <ngx-spinner size = "medium" [fullScreen]="false" type="timer" ></ngx-spinner>
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong class="d-block">Register Customer</strong></div>
                    <div class="block-body">
                        <form class="form-horizontal" name="registerCustomer" [ngrxFormState]='formState'>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">RR Number</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" [ngrxFormControlState]="formState.controls.rrNumber">
                                  <div *ngIf="formState.controls.rrNumber.isDirty && formState.controls.rrNumber.errors['required']">
                                    <div *ngIf="formState.controls.rrNumber.errors['required']">
                                        Enter RR Number
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Name</label>
                              <div class="col-sm-5">
                                <input type="text" placeholder="First Name" class="form-control" [ngrxFormControlState]="formState.controls.firstName">
                                <div *ngIf="formState.controls.firstName.isDirty && formState.controls.firstName.errors['required']">
                                  <div *ngIf="formState.controls.firstName.errors['required']">
                                      Enter First name
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <input type="text" placeholder="Last Name" class="form-control" [ngrxFormControlState]="formState.controls.lastName">
                                <div *ngIf="formState.controls.lastName.isDirty && formState.controls.lastName.errors['required']">
                                  <div *ngIf="formState.controls.lastName.errors['required']">
                                      Enter Last name
                                  </div>
                                </div>
                              </div>
                          </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Load Type</label>
                                <div class="col-sm-9">
                                  <select name="account" class="form-control mb-3 mb-3" [ngrxFormControlState]="formState.controls.loadTypeId">
                                    <option *ngFor="let lt of loadTypes" [value]="lt.id">{{lt.name}}</option>
                                  </select>
                                  <div *ngIf="formState.controls.loadTypeId.isDirty && formState.controls.loadTypeId.errors['greaterThan']">
                                    <div *ngIf="formState.controls.loadTypeId.errors['greaterThan']">
                                        Select load type
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">District</label>
                              <div class="col-sm-9">
                                <select name="district" [ngrxFormControlState]="formState.controls.districtId" class="form-control mb-3 mb-3" (change)='getTalukasByDistrictId($event)'>
                                  <option *ngFor="let d of districts" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="formState.controls.districtId.isDirty && formState.controls.districtId.errors['greaterThan']">
                                  <div *ngIf="formState.controls.districtId.errors['greaterThan']">
                                      Select district
                                  </div>
                              </div>
                              </div>
                          </div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Taluka</label>
                              <div class="col-sm-9">
                                <select name="taluka" [ngrxFormControlState]="formState.controls.talukaId" class="form-control mb-3 mb-3" (change)='getVillagesByTalukaId($event)'>
                                  <option *ngFor="let d of talukas" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="formState.controls.talukaId.isDirty && formState.controls.talukaId.errors['greaterThan']">
                                  <div *ngIf="formState.controls.talukaId.errors['greaterThan']" class="validation-error-message">
                                      Select taluka
                                  </div>
                              </div>
                              </div>                                
                          </div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Village/Area</label>
                              <div class="col-sm-9">
                                <select name="account" [ngrxFormControlState]="formState.controls.villageId" class="form-control mb-3 mb-3" (change)='getStationsByVillageId($event)'>
                                  <option *ngFor="let d of villages" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="formState.controls.villageId.isDirty && formState.controls.villageId.errors['greaterThan']">
                                  <div *ngIf="formState.controls.talukaId.errors['greaterThan']" class="validation-error-message">
                                      Select village
                                  </div>
                              </div>
                              </div>
                          </div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Station</label>
                              <div class="col-sm-9">
                                <select name="account" [ngrxFormControlState]="formState.controls.stationId" class="form-control mb-3 mb-3" (change)='getSectionsByStationId($event)'>
                                  <option *ngFor="let d of stations" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="formState.controls.stationId.isDirty && formState.controls.talukaId.errors['greaterThan']">
                                  <div *ngIf="formState.controls.talukaId.errors['greaterThan']" class="validation-error-message">
                                      Select station
                                  </div>
                              </div>
                              </div>
                          </div>
                            <div class="form-group row">
                              <label class="col-sm-3 form-control-label">Section</label>
                              <div class="col-sm-9">
                                <select name="account" [ngrxFormControlState]="formState.controls.sectionId" class="form-control mb-3 mb-3" (change)='getFeedersBySectionId($event)'>
                                  <option *ngFor="let d of sections" [value]="d.id">{{d.name}}</option>
                                </select>
                                <div *ngIf="formState.controls.sectionId.isDirty && formState.controls.sectionId.errors['greaterThan']">
                                  <div *ngIf="formState.controls.sectionId.errors['greaterThan']" class="validation-error-message">
                                      Select section
                                  </div>
                              </div>
                              </div>
                          </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Feeder</label>
                                <div class="col-sm-9">
                                  <select name="account" class="form-control mb-3 mb-3" [ngrxFormControlState]="formState.controls.feederId" (change)='getTransformersByFeederId($event)'>
                                    <option *ngFor="let d of feeders" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="formState.controls.feederId.isDirty && formState.controls.feederId.errors['greaterThan']">
                                    <div *ngIf="formState.controls.feederId.errors['greaterThan']" class="validation-error-message">
                                        Select feeder
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Transformer</label>
                                <div class="col-sm-9">
                                  <select name="account" class="form-control mb-3 mb-3" [ngrxFormControlState]="formState.controls.transformerId">
                                    <option *ngFor="let d of transformers" [value]="d.id">{{d.name}}</option>
                                  </select>
                                  <div *ngIf="formState.controls.transformerId.isDirty && formState.controls.transformerId.errors['greaterThan']">
                                    <div *ngIf="formState.controls.transformerId.errors['greaterThan']" class="validation-error-message">
                                        Select transformer
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Mobile Number</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" [ngrxFormControlState]="formState.controls.mobileNumber">
                                  <div *ngIf="formState.controls.mobileNumber.isDirty && formState.controls.mobileNumber.errors">
                                    <div *ngIf="formState.controls.mobileNumber.errors['required']" class="validation-error-message">
                                        Enter mobile number
                                    </div>
                                    <div *ngIf="formState.controls.mobileNumber.errors['pattern']" class="validation-error-message">
                                      Mobile number should be 10 number digits
                                  </div>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 ml-auto">
                                  <button type="button" class="btn btn-secondary" (click)='clearForm()'>Reset</button>
                                  <button type="button" class="btn btn-primary" (click)='registerCustomer()' [disabled]="formState.isInvalid">Register customer</button>
                                </div>
                              </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
