<nav id="sidebar">
    <app-user-profile></app-user-profile>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
            <li class="active"><a routerLink='home-landing'> <i class="oi oi-home"></i>Home </a></li>
            <li><a href="#customerDropdown" aria-expanded="false" data-toggle="collapse"> <i class="oi oi-person"></i>Customer</a>
                <ul id="customerDropdown" class="collapse list-unstyled ">
                  <li><a routerLink="register-customer" routerLinkActive="active"><i class="oi oi-plus"></i>Register</a></li>
                  <li><a routerLink="view-customer"><i class="oi oi-eye"></i>View</a></li>
                </ul>
            </li>
            <li><a href="#villageDropdown" aria-expanded="false" data-toggle="collapse"> <i class="oi oi-globe"></i>Village/Area</a>
                <ul id="villageDropdown" class="collapse list-unstyled ">
                  <li><a routerLink='create-village'><i class="oi oi-plus"></i> Create</a></li>
                  <li><a href="#"><i class="oi oi-eye"></i>View</a></li>
                </ul>
            </li>
            <li><a href="#stationDropdown" aria-expanded="false" data-toggle="collapse"> <i class="oi oi-box"></i>Station</a>
              <ul id="stationDropdown" class="collapse list-unstyled ">
                <li><a routerLink='create-station'><i class="oi oi-plus"></i>Create</a></li>
                <li><a href="#"><i class="oi oi-eye"></i>View</a></li>
              </ul>
            </li>
            <li><a href="#sectionDropdown" aria-expanded="false" data-toggle="collapse"> <i class="oi oi-clipboard"></i>Section</a>
                <ul id="sectionDropdown" class="collapse list-unstyled ">
                  <li><a routerLink='create-section'><i class="oi oi-plus"></i>Create</a></li>
                  <li><a href="#"><i class="oi oi-eye"></i>View</a></li>
                </ul>
              </li>
            <li><a href="#feederDropdown" aria-expanded="false" data-toggle="collapse"> <i class="oi oi-target"></i>Feeder</a>
                <ul id="feederDropdown" class="collapse list-unstyled ">
                  <li><a routerLink='create-feeder'><i class="oi oi-plus"></i>Create</a></li>
                  <li><a href="#"><i class="oi oi-eye"></i>View</a></li>
                </ul>
            </li>
            <li><a href="#transformerDropdown" aria-expanded="false" data-toggle="collapse"> <i class="oi oi-audio-spectrum"></i>Transformer</a>
                <ul id="transformerDropdown" class="collapse list-unstyled ">
                  <li><a routerLink='create-transformer'><i class="oi oi-plus"></i>Create</a></li>
                  <li><a href="#"><i class="oi oi-eye"></i>View</a></li>
                </ul>
            </li>

    </ul>
  </nav>