<div class="login-page">
    <div class="container d-flex align-items-center">
      <div class="form-holder has-shadow">
        <div class="row">
          <!-- Logo & Information Panel-->
          <div class="col-lg-6">
            <div class="info d-flex align-items-center">
              <div class="content">
                <div class="logo">
                  <h1>AEMS</h1>
                </div>
                <p>Advanced way of managing enery system.</p>
              </div>
            </div>
          </div>
          <!-- Form Panel    -->
          <div class="col-lg-6 bg-white">
            <ngx-spinner size = "medium" [fullScreen]="false" type="timer" ></ngx-spinner>
            <div class="form d-flex align-items-center">
              <div class="content">
                <form class="form-validate" [formGroup]='loginForm' (ngSubmit)='login()'>
                <div *ngIf="isSubmitted && !credentialsValid" class="input-material">
                    Username or password is invalid
                </div>
                  <div class="form-group">
                    <input id="login-username" type="text" name="username" formControlName='username' required data-msg="Please enter your username" class="input-material">
                    <label for="login-username" class="label-material">User Name</label>
                  </div>
                  <div *ngIf="isSubmitted && formControls.username.errors">
                      <div *ngIf="formControls.username.errors.required">
                          Username required
                      </div>
                  </div>
                  <div class="form-group">
                    <input id="login-password" type="password" name="loginPassword" formControlName='password' required data-msg="Please enter your password" class="input-material">
                    <label for="login-password" class="label-material">Password</label>
                    <div *ngIf="isSubmitted && formControls.password.errors">
                        <div *ngIf="formControls.password.errors.required">
                            Password is required
                        </div>
                    </div>
                  </div><button id="login" (onClick)="login()" class="btn btn-primary">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyrights text-center">
       <p>2020 &copy; SPS AEMS. </p>
    </div>
  </div>