<nav id="sidebar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="img/avatar-6.jpg" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h5">Shreedhar Patil</h1>
        <p>Web Designer</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
            <li class="active"><a href="index.html"> <i class="icon-home"></i>Home </a></li>
            <li><a href="#customerDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Customer</a>
                <ul id="customerDropdown" class="collapse list-unstyled ">
                  <li><a routerLink="register-customer" routerLinkActive="active">Register</a></li>
                  <li><a routerLink="view-customer">View</a></li>
                </ul>
            </li>
            <li><a href="#villageDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Village/Area</a>
                <ul id="villageDropdown" class="collapse list-unstyled ">
                  <li><a routerLink='create-village'>Create</a></li>
                  <li><a href="#">View</a></li>
                </ul>
            </li>
            <li><a href="#stationDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Station</a>
              <ul id="stationDropdown" class="collapse list-unstyled ">
                <li><a routerLink='create-station'>Create</a></li>
                <li><a href="#">View</a></li>
              </ul>
            </li>
            <li><a href="#sectionDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Section</a>
                <ul id="sectionDropdown" class="collapse list-unstyled ">
                  <li><a routerLink='create-section'>Create</a></li>
                  <li><a href="#">View</a></li>
                </ul>
              </li>
            <li><a href="#feederDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Feeder</a>
                <ul id="feederDropdown" class="collapse list-unstyled ">
                  <li><a href="#">Create</a></li>
                  <li><a href="#">View</a></li>
                </ul>
            </li>
            <li><a href="#transformerDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Transformer</a>
                <ul id="transformerDropdown" class="collapse list-unstyled ">
                  <li><a href="#">Create</a></li>
                  <li><a href="#">View</a></li>
                </ul>
            </li>

    </ul>
  </nav>